.Order {
  width: 48%;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  border-radius: 20px;
  margin: 1em auto;
  box-sizing: border-box;
}

.Order:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px #aaa;
  transition: 0.2s;
}

.Order .price {
  margin: 10px 0 0 0;
  text-align: end;
  font-weight: bold;
  font-size: xx-large;
}

@media (min-width: 600px) {
  .Order {
    width: 200px;
  }
}