.IngredientControl {
  flex-basis: 15%;
  align-self: center;
}

.IngredientControl > button {
  height: 30px;
  width: 30px;  
  font-size: 1em;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 50%;
  background-color: white;
  color: red;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.IngredientControl > button:hover {
  background-color: red;
  color: white;
}

.IngredientControlHidden > button {
  display: none;
}

.BreadBottom {
  height: 50px;
  width: 80%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  flex-basis: 80%;
}

.BreadTop {
  height: 90px;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative;
  flex-basis: 80%;
}

.Seeds1 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 30%;
  top: 60%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #c9c9c9;
}

.Seeds2 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #c9c9c9;
}

.Meat {
  width: 80%;
  height: 40px;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px;
  flex-basis: 85%;
}

.Cheese {
  width: 90%;
  height: 20px;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
  flex-basis: 85%;
}

.Salad {
  width: 85%;
  height: 30px;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;clip-path: polygon(1% 50%, 9% 2%, 17% 26%, 27% 9%, 32% 22%, 43% 6%, 48% 22%, 60% 6%, 66% 18%, 76% 4%, 85% 30%, 92% 6%, 99% 54%, 87% 95%, 73% 82%, 67% 97%, 52% 70%, 43% 92%, 31% 75%, 25% 89%, 18% 72%, 10% 87%, 3% 80%);
  flex-basis: 85%;
}

.Bacon {
  width: 80%;
  height: 20px;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
  flex-basis: 80%;
}

.BreadBottom.small {
  height: 25px;
}

.BreadTop.small {
  height: 40px;
}

.Meat.small {
  height: 20px;
}

.Cheese.small {
  height: 10px;
}

.Salad.small {
  height: 15px;
}

.Bacon.small {
  height: 10px;
}
